/assets/
/examples/**/assets/

/world.jsonl
world-lock.json

.build/
.cache/
.concinnity/
.cargo/
.ccls-cache/
.clang-tidy
.direnv/
.node_modules/
.vite/
.vs/
.vscode/

__pycache__/
dist/
logs/
node_modules/
out/
private/
target/
tmp/
venv/
xcuserdata/

*.a
*.bat
*.db
*.bin
*.dll
*.dot
*.etag
*.exe
*.gcda
*.gcno
*.gcov
*.gguf
*.gz
*.lastModified
*.log
*.metallib
*.o
*.pem
*.pdb
*.sln
*.so
*.spv
*.suo
*.tmp

.DS_Store
.env
.envrc
.idea
.swiftpm
